.link, .linkDestacado{
    font-size: 1.25rem;
    line-height: 1.5rem;
    color: var(--cor-fonte-principal);
}

.linkDestacado {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 1px;
}